
/* Original styles */
body {
   background-color: #dbdbdb;
}

#mainTitle {
   text-align: center;
}

#enemyPokemon {
   position: relative;
   left: 800px;
   width: 200px;
   margin-top: 20px;
   float: left;
}

#myPokemon {
   position: relative;
   left: 300px;
   width: 200px;
   margin-top: 20px;
   float: left;
}

#pokemonName1 {
   color: #ffffff;
}

#pokemonName2 {
   color: #ffffff;
}

#hpP1 {
   color: white;
}

#hpP2 {
   color: white;
}

#p1Stats {
   position: relative;
   left: 400px;
}

#container {
   width: 80%;
   margin: auto;
   background-image: url(background/battle-background1.jpg);
   background-size: cover;
   border-radius: 10px;
   box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
   text-align: left;
   overflow: hidden;
}

#controlContainer {
   text-align: center;
   font-size: 30px;
   border: 5px solid black;
   width: 80%;
   margin: auto;
}

/* Responsive adjustments */
@media only screen and (max-width: 1200px) {
   #enemyPokemon {
       position: relative;
       left: 400px;
       width: 150px;
   }

   #myPokemon {
       position: relative;
       left: 200px;
       width: 150px;
   }

   #p1Stats {
       left: 250px;
   }
}

@media only screen and (max-width: 992px) {
   #enemyPokemon {
       left: 100px;
       width: 120px;
   }

   #myPokemon {
       left: 50px;
       width: 120px;
   }

   #p1Stats {
       left: 100px;
   }
}

@media only screen and (max-width: 768px) {
   #enemyPokemon,
   #myPokemon {
       left: 50px;
       width: 100px;
   }

   #p1Stats {
       left: 50px;
       font-size: 20px;
   }
}

@media only screen and (max-width: 576px) {
   #enemyPokemon,
   #myPokemon {
       left: 20px;
       width: 80px;
   }

   #pokemonName1,
   #pokemonName2 {
       font-size: 14px;
   }

   #hpP1,
   #hpP2 {
       font-size: 16px;
   }

   #healthp1,
   #healthp2 {
       width: 80px;
   }

   #p1Stats {
       left: 20px;
       font-size: 16px;
   }

   #p2Stats {
       left: 10px;
       font-size: 18px;
   }

   #container,
   #controlContainer {
       width: 95%;
   }

   .fightButton,
   .switchButton,
   .medicineButton,
   .escapeButton {
       display: block;
   }
}


/* Button styles */
.fightButton,
.switchButton,
.medicineButton,
.escapeButton {
   font-size: 30px;
   margin: 10px;
   border-radius: 15px;
   padding: 10px;
   background-color: hsla(0, 5%, 88%, 0.6);
   border: 2px solid red;
   cursor: pointer;
   color: #000000;
}

.fightButtonPressed,
.switchButtonPressed,
.medicineButtonPressed,
.escapeButtonPressed {
   font-size: 20px;
   margin: 5px;
   border-radius: 15px;
   padding: 5px;
   background-color: #83116e99;
   border: 2px solid red;
   cursor: pointer;
   color: #ffffff;
}

.fightButtonSwitched,
.switchButtonSwitched,
.medicineButtonSwitched,
.escapeButtonSwitched {
   font-size: 20px;
   margin: 5px;
   border-radius: 15px;
   padding: 5px;
   background-color:green;
   border: 2px solid green;
   cursor: pointer;
   color: #ffffff;
}

.buttonHidden {
   visibility: hidden;
}

