
body {
   background-color: #dbdbdb;
}

#mainTitle {
   text-align: center;
}

#enemyPokemon {
   position: relative;
   left: 800px;
   width: 200px;
   margin-top: 20px;
   float: left;
}

#myPokemon {
   position: relative;
   left: 300px;
   width: 200px; 
   margin-top: 20px;
   float: left;
}

#pokemonName1{

   color: #ffffff;
}

#pokemonName2{

   color: #ffffff;
}

#hpP1{
   color: white;
}

#hpP2{
   color: white;
}

#p1Stats{
   position: relative;
   left:400px;
}



#container {
   width: 80%;
   margin: auto;
   background-image: url(background/battle-background1.jpg);
   background-size: cover;
   border-radius: 10px;
   box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
   text-align: left;
   overflow: hidden; /* Ensures the container wraps around floated elements */
}

#controlContainer {
   text-align: center;
   font-size: 30px;
   border: 5px solid black;
   width: 80%;
   margin: auto;
}

/* Responsive adjustment*/
@media only screen and (max-width: 768px) {
   #enemyPokemon,
   #myPokemon {
       width: 200px; 
   }

   #enemyPokemon {
      position: relative;
      left: 300px;
      width: 200px;
      margin-top: 20px;
      float: left;
   }
   
   #myPokemon {
      position: relative;
      left: 200px;
      width: 150px; 
      margin-top: 20px;
      float: left;
   }
   
   #pokemonName1{
   
      color: #ffffff;
   }
   
   #pokemonName2{
   
      color: #ffffff;
   }
   
   #hpP1{
      color: white;
   }
   
   #hpP2{
      color: white;
   }
   
   #p1Stats{
      position: relative;
      left:50px;
      font-size: 20px;
   }
   
   #p2Stats{
      position: relative;
      left:50px;
      font-size: 20px;
   }



}

@media only screen and (max-width: 576px) {
   #enemyPokemon,
   #myPokemon {
       width: 50px; /*  adjusted width for even smaller screens */

   }

   #container,
   #controlContainer {
       width: 95%;
   }

   .fightButton,
   .switchButton,
   .medicineButton,
   .escapeButton {
       display: block;
   }

}

/* Button styles */
.fightButton,
.switchButton,
.medicineButton,
.escapeButton {
   font-size: 30px;
   margin: 10px;
   border-radius: 15px;
   padding: 10px;
   background-color: hsla(0, 5%, 88%, 0.6);
   border: 2px solid red;
   cursor: pointer;
   color: #000000;
}

.fightButtonPressed,
.switchButtonPressed,
.medicineButtonPressed,
.escapeButtonPressed {
   font-size: 20px;
   margin: 5px;
   border-radius: 15px;
   padding: 5px;
   background-color: #83116e99;
   border: 2px solid red;
   cursor: pointer;
   color: #ffffff;
}

.fightButtonSwitched,
.switchButtonSwitched,
.medicineButtonSwitched,
.escapeButtonSwitched {
   font-size: 20px;
   margin: 5px;
   border-radius: 15px;
   padding: 5px;
   background-color:green;
   border: 2px solid green;
   cursor: pointer;
   color: #ffffff;
}

.buttonHidden {
   visibility: hidden;
}

